@charset "utf-8";
/* CSS Document */

#salvando {
	color: green;
	width:200px;
	height:50;
    top:50%; 
    margin-top:-25px;
	
	left:50%;
    margin-left:-100px; 
	
	text-align: center;
	
	border:1px #7A795C solid;
	border-radius:8px;
	padding-bottom:30px;
	background-color:#FFFFFF;

	-moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);

	position:absolute; 
	
	overflow:hidden;
}

